body{
    font-family: Roboto;
    background-color: #fcfcfc;
}
.dashboard-main .wrapper{
    width: 95%;
    margin: 0px auto;
    max-width: 1280px;
    justify-content: center;
}
.dashboard-main{
    padding-top: 75px;
    padding-bottom: 75px;
    overflow-y: auto;
    position: relative;
}
.dashboard-main .restricted{
    color: red;
    font-weight: 600;
    padding-top: 8px;
    text-align: center;
    margin-bottom: 30px;
    background-color: #121212;
    border-top: 2px solid #cccccc;
    border-bottom: 2px solid #cccccc;
}
.dashboard-main .wrapper{
    display: flex;
    flex-flow: row wrap;
}
.card-header.panel-heading-2{
    border-radius: 0px;
}
.menu{
    width: 90%;
}
.menu-nav{
    list-style: none;
    padding-left: 0px;
}
.menu-nav a{
    color: #333333;
}
.menu-nav a:hover{
    text-decoration: none;
}
.menu-nav li{
    padding: 5px 0px;
    margin: 20px 0px;
}
.menu-nav li:first-child{
    margin-top: 0px;
}
.each-menu{
    display: flex;
    cursor: pointer;
    flex-flow: row nowrap;
    align-items: center;
    border-radius: 20px;
	-webkit-transition: all 200ms linear 0.05s;
	-moz-transition: all 200ms linear 0.05s;
	-ms-transition: all 200ms linear 0.05s;
	-o-transition: all 200ms linear 0.05s;
	transition: all 200ms linear 0.05s;
}
.each-menu:hover, 
.each-menu.active{
    color: white;
    padding-left: 10px;
    background-color: #545f6b;
	-webkit-transition: all 200ms linear 0.05s;
	-moz-transition: all 200ms linear 0.05s;
	-ms-transition: all 200ms linear 0.05s;
	-o-transition: all 200ms linear 0.05s;
	transition: all 200ms linear 0.05s;
}
.each-menu i{
    max-width: 15%;
    margin-right: 10px;
}
.dashboard-main .page-title{
    border-bottom: 1px solid #cccccc;
}
.dashboard-main .page-title .title{
    font-weight: 600;
    font-size: 1rem;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}
.dashboard-main .page-title .title i{
    margin-right: 25px;
    max-width: 25px;
}