<% if (me) { %>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<main id="dashboard">
    <div class="text-center mt-5">Loading...</div>
    <% /*This script is loaded from asset frolder */ %>
    <script src="/js/pages/harchive/client_dashboard/compiled.js"></script>
</main>
<% } %>